.calendar-day {
    width:100%;
    height:100%
}

.day-table {
    border:1px solid #000
}

.time-column {
    border:1px solid #479191!important;
    width:10%
}

.meeting-column {
    border:1px solid #479191!important
}

.btn-meeting {
    height:100%;
/*width:100%;*/
    background-color:#80CBC4
}

.btn-meeting &hover {
    background-color:#479191
}

.label-day-view {
    font-size:11px!important;
    background-color:rgba(107,175,247,0.9);
    margin-right:10px;
    cursor:pointer
}