.calendar-height {
    height:100%
}

.border-box {
    box-sizing:border-box;
    -moz-box-sizing:border-box
}

calendar {
    display:inline-block;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    background:#fff;
    width:100%;
    border:solid 1px #ccc;
    margin-bottom:10px;
    margin-top:10px
}

calendar > div.header {
    width:100%;
    background:#197575;
    height:40px;
    color:#fff
}

calendar > div.header > * {
    height:40px;
    line-height:40px!important;
    display:inline-block;
    vertical-align:middle
}

calendar > div.header > i {
    float:left;
    width:40px;
    font-size:1.125em;
    font-weight:700;
    position:relative;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:0 10px
}

calendar > div.header > i.fa-angle-left {
    text-align:left
}

calendar > div.header > i.fa-angle-right {
    text-align:right;
    margin-left:-40px
}

calendar > div.header > span {
    float:left;
    width:100%;
    font-weight:700;
    text-transform:uppercase;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding-left:50px;
    margin-left:-40px;
    text-align:center;
    padding-right:40px;
    color:inherit
}

calendar > div.week {
    float:left;
    width:100%;
    border-top:solid 1px #ccc
}

calendar > div.week:first-child {
    border-top:none
}

.btn-group-month-day {
    margin:5px
}

calendar > div.week > span.day {
    float:left;
    width:14.28571429%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    border-left:solid 1px #ccc;
    font-size:.75em;
    text-align:center;
    height:72px;
    line-height:30px!important;
    display:inline-block;
    vertical-align:middle;
    background:#fff;
    color:#000
}

calendar > div.week > span.day:first-child {
    border-left:none
}

calendar > div.week > span.day.today {
    background:#82B4B4
}

calendar > div.week > span.day.different-month {
    color:silver
}

calendar > div.week > span.day.selected {
    background:#538E8E;
    color:#fff
}

calendar > div.week.names > span {
    color:#066;
    font-weight:700
}

.label-month-view {
    display:block!important;
    cursor:pointer;
    font-size:11px!important;
    background-color:rgba(139,137,137,0.9);
    margin:1px 10%
}