.h1 {
    word-wrap:break-word;
    -webkit-hyphens:auto;
    -moz-hyphens:auto;
    -ms-hyphens:auto;
    -o-hyphens:auto;
    hyphens:auto
}

.body {
    background-color:#479191;
    color:#fff;
    height:100%
}

.sign-in {
    background-color:rgba(71,145,145,0.9);
    color:#fff;
    height:100%
}

.btnAdd {
    background-color:#005252
}

.btnDelete {
    background-color:red
}

.inputMeeting {
    color:#2D2D2D
}

.meetinglist {
    color:#2D2D2D
}

.verticalLine {
    border-right:#000
}

.signinOptions {
    text-align:center;
    height:auto;
    font-size:20px;
    vertical-align:middle
}

.noNavbarMargin {
    margin-bottom:0!important
}

.mynavbar {
    background-color:#194343;
    color:#fff
}

.noPaddngContainer {
    padding:0!important;
    position:absolute;
    top:52px;
    right:0;
    bottom:0;
    left:0
}

.meetingsList {
    height:100%;
    background-color:#001F1F
}

.meetingListItem {
    padding-top:7.5px;
    padding-bottom:7.5px;
    font-size:15px;
    color:#9d9d9d
}

.meetingListItem :hover {
    color:#fff
}

.selected {
    color:#fff
}

.disabledCursor {
    cursor:default!important
}

.meeting {
    color:#194343;
    background-color:#CFCFCF;
    height:100%;
    overflow:auto
}

.meetingSet {
    margin:50px
}

.footer {
    position:relative;
    bottom:0
}

.meeting-title {
    color:#9d9d9d
}

time-slot {
    position:fixed;
    top:35%;
    left:35%;
    width:35%;
    height:25%
}

.any-title {
    color:#194343;
    font-weight:600
}

.any-description {
    color:#194343
}

.desc-label {
    color:#194343
}

.meetingDescription {
    background-color:#479191
}

.navbarItems {
}

.inputLogin {
    color:#2D2D2D
}

.registerlink {
    font-size:20px;
    color:#003D99;
    &:hover {;
    color:#000
}
}

.registerpara {
    font-size:20px
}

.loginbtn {
    background-color:#001F1F
}

.add-meeting-button {
    border-radius:100%!important;
    background-color:#a9a9a9!important
}

.register-background {
    height:100%;
    background-image:url(../images/meeting.jpg);
    background-size:cover
}

.meetings-background {
    background-image:url(../images/meet.jpg);
    background-size:cover
}

#wrapper {
    margin-top:20px;
    overflow:auto;
    height:500px
}

.currentday {
    font-size:20px;
    text-align:center;
    margin-top:20px
}

.month-day {
    margin-top:5px
}