<div id="properset" class="header" ng-hide="vm.editDay">
    <i ng-click="vm.previous()"><span class="glyphicon glyphicon-chevron-left"></span></i>
    <span>{{vm.month.format("MMMM, YYYY")}}</span>
    <i class="fa fa-angle-right" ng-click="vm.next()"><span class="glyphicon glyphicon-chevron-right"></i>
</div>
<div class="week names" ng-hide="vm.editDay">
    <span class="day">Sun</span>
    <span class="day">Mon</span>
    <span class="day">Tue</span>
    <span class="day">Wed</span>
    <span class="day">Thu</span>
    <span class="day">Fri</span>
    <span class="day">Sat</span>
</div>
<div class="week" ng-repeat="week in vm.weeks" ng-hide="vm.editDay">
    <span class="day"
          ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(vm.selected) }"
          ng-click="vm.select(day)" ng-dblclick="vm.showDay(day)" ng-repeat="day in week.days">
        {{day.number}}
        <br/>
        <div class="label label-month-view" ng-repeat="meeting in day.meetings" ng-click="vm.showMeeting(meeting)">{{meeting.name}}</div>
    </span>
</div>