<div class="container-fluid calendar-day">
    <h5>{{vm.getDate()}}</h5>
    <table class="table table-bordered day-table">
        <tbody>
            <tr class="time-row" ng-repeat="(key,value) in vm.dayTimes">
                <td class="time-column">{{value.time}}</td>
                <td class="meeting-column" ng-click="vm.addMeeting(value)">
                    <div class="label label-day-view" ng-repeat="meeting in value.meetings" ng-click="vm.showMeeting(meeting);$event.stopPropagation()">
                        {{meeting.name}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
