<form name="myform" class="control-width" novalidate>
    <div class=" form-group panel panel-primary">
        <div class="panel-heading"><span>{{vm.displayMeeting.duedate}}</span></div>
        <div class="panel-body form-group">
            <input type="text" class="form-control" placeholder="title" ng-model="vm.displayMeeting.name" ng-required="true">
            <br>
            <input type="text" class="form-control" placeholder="description" ng-model="vm.displayMeeting.description" ng-required="true">
            <br>
            <button class="btn btn-primary" ng-click="vm.addMeeting();vm.displayMeetingPopup=false" type="submit" ng-hide="vm.displayMeeting.$id" ng-disabled="myform.$invalid">Add</button>
            <button class="btn btn-primary" ng-click="vm.deleteMeeting();vm.displayMeetingPopup=false" ng-show="vm.displayMeeting.$id">Delete</button>
            <button class="btn btn-danger pull-right" ng-click="vm.closePopUp()">Cancel</button>
        </div>
    </div>
</form>