<div class="container-fluid noPaddngContainer">
	<div class ="register-background">
		<div class="col-md-3 col-md-offset-9 sign-in">
			<form class="form-horizontal" name="myform" ng-submit="vm.login()" novalidate>
				<h3 class="any-title">Welcome Back</h3>
				<h4 class="any-description">Login to access Meetings</h4>
				<br/>
				<label class="desc-label" for="email">Email</label>
				<input class="inputLogin form-control" type="email" name="email"
					   ng-model="vm.user.email" >
				<p class="error " ng-show="myform.email.$invalid && myform.email.$touched">
					Must be a vaild email
				</p>
				<br/>
				<label class="desc-label" for="password">Password</label>
				<input class="inputLogin form-control" type ="password" name="password"
					   placeholder="Password" ng-model="vm.user.password" ng-required="true">
				<p class="error validationerror"
				   ng-show="myform.password.$invalid && myform.password.$touched"
				   ng-required="true">
					password is required
				</p>
				<p class="error-message" ng-bind="vm.errorMessage"></p>
				<br/>
				<div class="signinOptions">
					<button type="submit" class="btn loginbtn pull-left"
							ng-disabled="myform.$invalid">
						Login
					</button>
					or
					<button  class="btn loginbtn pull-right" ng-click="vm.redirectToRegister()" >
						Regsiter
					</button>
				</div>
			</form>
		</div>
	</div>
</div>