<div class="container-fluid noPaddngContainer" ng-show="currentUser">
	<div class="col-md-3 meetingsList">
		<h4>
			<center>Meetings</center>
		</h4>
		<div class="meetingListItem" ng-repeat="(key,meeting) in vm.meetings" ng-click="vm.openPopUp(meeting)">
			<div ng-class="{selected:vm.selectedMeeting.index == key}">
				<div class="row">
					<label class="col-md-4 pull-left">{{meeting.name}}</label>
					<label class="col-md-2">{{meeting.time}}</label>
					<label class="col-md-6 pull-right">{{meeting.duedate}}</label>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9 meeting">
		<div class="btn-group btn-group-month-day" role="group" aria-label="...">
			<button type="button" class="btn btn-default" ng-click="vm.onClickDay()">
				Day
			</button>
			<button type="button" class="btn btn-default" ng-click="vm.onClickMonth()">
				Month
			</button>
		</div>
		<div class="container-fluid">
			<calendar open-pop-up="vm.openPopUp(meeting)" open-day="vm.onClickDay()" ng-show="vm.showMonth"></calendar>
			<calendar-day open-pop-up="vm.openPopUp(meeting)" ng-hide="vm.showMonth"></calendar-day>
			<time-slot ng-show="vm.displayMeetingPopup"></time-slot>
		</div>
	</div>
</div>
<div class="container-fluid noPaddngContainer meetings-background" ng-hide="currentUser">
	<fieldset class="meetingSet">
		<legend>Login to Manage your Meetings</legend>
	</fieldset>
</div>
