<div class="container-fluid mynavbar">
	<div class="navbar-header col-md-3 verticalLine">
		<a class="navbar-brand ">MyApp</a>
	</div>
	<div class="pull-right">
		<ul class="nav navbar-nav" >
			<li ng-class="{ active: vm.isActive('/')}">
				<a ng-href="#/">Home</a>
			</li>
			<li ng-hide="currentUser"  ng-class="{ active: vm.isActive('/login')}">
				<a ng-href="#/login">Login</a>
			</li>
			<li ng-hide="currentUser"  ng-class="{ active: vm.isActive('/register')}">
				<a ng-href="#/register">Register</a>
			</li>
			<li class="dropdown" ng-show="currentUser">
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					hi, {{currentUser.password.email}}
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li ng-show="currentUser" >
						<a ng-click="vm.logout()">logout</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>