<div class="container-fluid noPaddngContainer">
	<div class ="register-background">
		<div class="col-md-3 col-md-offset-9 sign-in">
			<form name="myform" ng-submit="vm.register()" novalidate>
				<h3 class="any-title">New to MyApp?</h3>
				<h4 class="any-description">Register to be a Manager</h4>
				<br/>
				<input type = "firstname" class="form-control" name="firstname" placeholder="First Name" autofocus ng-model="vm.user.firstname">
				<p class="error validationerror" ng-show="myform.firstname.$invalid && myform.firstname.$touched">Must be a vaild email</p>
				<br/>
				<input class="form-control" type = "lastname" name="lastname" placeholder="Last Name" autofocus ng-model="vm.user.lastname">
				<p class="error validationerror" ng-show="myform.lastname.$invalid && myform.lastname.$touched">Must be a vaild email</p>
				<br/>
				<input class="form-control"type = "email" name="email" placeholder="Email" autofocus ng-model="vm.user.email">
				<p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched">Must be a vaild email</p>
				<br/>
				<input class="form-control"type ="password" name="password" placeholder="Password" ng-model="vm.user.password" ng-required="true">
				<p class="error validationerror" ng-show="myform.password.$invalid && myform.password.$touched" ng-required="true">password is required</p>
				<br/>
				<button class="btn loginbtn"type="submit" class="btn " ng-disabled="myform.$invalid">Register</button>
			</form>
		</div>
	</div>
</div>